html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
body {
    background-color: black;
    text-align: center;
}
h1, h2 {
    color: white;
}
h1 {
    font-size: 3.125rem;
}
h2 {
    font-size: 2.625rem;
    font-weight: 300;
}